.footer {
    background-color: #0077B6;
    font-family: Roboto Condensed;

}
.paragraf {
    color: white;
}
.footer-title {
    color: #fff;
    font-weight: 700;

}
.pilihan {
    color: white;
}
.isi {
    color: white;
}
.dana {
    width: 100px;
    height: 45px;
}
.gopay {
    width: 165px;
    height: 43px;
}
