.footer {
    background-color: #0077B6;
    font-family: Roboto Condensed;

}
.paragraf {
    color: white;
}
.footer-title {
    color: #fff;
    font-weight: 700;

}
.pilihan {
    color: white;
}
.isi {
    color: white;
}