@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.navbar{
    background-color:rgba(0, 180, 216, 100%);
}
.form-control rounded-pill{
    width:200px
    
}

.input{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 700;
}

input:focus{
    outline: none;
}

.search_wrap.search_wrap_3 .search_box .input {
    padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input {
    border-radius: 50px;
    border-style:none;
}

.search_wrap.search_wrap_3 .search_box .btn {
    right: 0px;
    border-radius: 50%;
}

.search_wrap {
    margin-top:10px;
    width: 500px;
}

.search_wrap .search_box {
    position: relative;
    width: 425px;
    height: 70px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 85%;
    background:#0077B6;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: #708bd2;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.navbar-logo{
    width:33%;
}

.navbar-home-logo{
    height:0px;
}

.button2 {
    background-color: rgba(0, 180, 216, 100%); 
    color: white; 
    border: 2px solid #fff;
    border-radius:30px;
    padding: 5px 21px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.btn{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 700;
}
